<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Force-install Chrome extensions -->
    <key>ExtensionInstallForcelist</key>
    <array>
        <!-- Enhancer for YouTube -->
        <string>ponfpcnoihfmfllpaingbgckeeldkhle;https://clients2.google.com/service/update2/crx</string>
    </array>
</dict>
</plist>
