k9s:
  refreshRate: 2
  maxConnRetry: 5
  enableMouse: false
  headless: false
  logoless: true
  crumbsless: false
  readOnly: false
  noExitOnCtrlC: false
  noIcons: false
  logger:
    tail: 100
    buffer: 5000
    sinceSeconds: 60
    fullScreenLogs: false
    textWrap: false
    showTime: false
  currentContext: arn:aws:eks:us-west-2:577926974532:cluster/gal-kub-demo-cluster
  currentCluster: arn:aws:eks:us-west-2:577926974532:cluster/gal-kub-demo-cluster
  clusters:
    arn:aws:eks:us-east-1:577926974532:cluster/extravagant-hideout-1659958643:
      namespace:
        active: kube-system
        lockFavorites: false
        favorites:
        - kube-system
        - all
        - default
      view:
        active: pod
      featureGates:
        nodeShell: false
      shellPod:
        image: busybox:1.31
        command: []
        args: []
        namespace: default
        limits:
          cpu: 100m
          memory: 100Mi
      portForwardAddress: localhost
    arn:aws:eks:us-west-2:577926974532:cluster/alexey-omer-tests:
      namespace:
        active: crane-system
        lockFavorites: false
        favorites:
        - crane-system
        - default
      view:
        active: pvc
      featureGates:
        nodeShell: false
      shellPod:
        image: busybox:1.31
        command: []
        args: []
        namespace: default
        limits:
          cpu: 100m
          memory: 100Mi
      portForwardAddress: localhost
    arn:aws:eks:us-west-2:577926974532:cluster/gal-kub-demo-cluster:
      namespace:
        active: all
        lockFavorites: false
        favorites:
        - all
        - default
      view:
        active: pvc
      featureGates:
        nodeShell: false
      shellPod:
        image: busybox:1.31
        command: []
        args: []
        namespace: default
        limits:
          cpu: 100m
          memory: 100Mi
      portForwardAddress: localhost
  thresholds:
    cpu:
      critical: 90
      warn: 70
    memory:
      critical: 90
      warn: 70
  screenDumpDir: /var/folders/9p/w4y1zkp53vngfpsnv_8lqg8r0000gn/T/k9s-screens-omerhamerman
