<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.klaudioz.takopi</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/klaudioz/dotfiles/takopi-launchd.sh</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>

  <key>WorkingDirectory</key>
  <string>/Users/klaudioz</string>

  <key>StandardOutPath</key>
  <string>/tmp/com.klaudioz.takopi.out</string>

  <key>StandardErrorPath</key>
  <string>/tmp/com.klaudioz.takopi.err</string>
</dict>
</plist>

